In [2]:
Member.objects.all()

In [7]:
import os,pandas

In [6]:
os.system('pip install pandas')

0

In [17]:
import pandas as pd
import numpy as np

In [42]:
df = pd.read_csv('Rssb.csv')

In [43]:
df.head()

,MemberType,Centre,Id,Name,FathersName,Gender,Contact,AlternateContact,Department,Unnamed: 9,Unnamed: 10,Unnamed: 11,Id.1,Name.1
0,1.0,1.0,2907.0,Sanjay Kumar,Chaman Lal,Male,9.837421e+09,NaN,Security,NaN,NaN,NaN,1,Security Office
1,2.0,1.0,2918.0,Surender Pal,Narayan Singh,Male,8.755909e+09,NaN,Security,NaN,NaN,NaN,2,Gate 2
2,2.0,1.0,2919.0,Vinod,Rampal,Male,9.368029e+09,NaN,Security,NaN,NaN,NaN,3,Gate 3
3,2.0,1.0,2920.0,Vijay Pal,Karta Ram,Male,8.393062e+09,NaN,Security,NaN,NaN,NaN,4,Kanta Hut
4,2.0,1.0,2921.0,Raju Singh,Rati Ram,Male,9.675513e+09,NaN,Security,NaN,NaN,NaN,5,Canteen

In [44]:
df.columns

Index(['MemberType', 'Centre', 'Id', 'Name', 'FathersName', 'Gender',
       'Contact', 'AlternateContact', 'Department', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Id.1', 'Name.1'],
      dtype='object')

In [62]:
for index, row in df.iterrows():
    sp = Member.objects.create(
                                MemberTypeDetails__id = row['MemberType'],
                                CenterDetails__id = row['Centre'],
                                id = row['Id'],
                                name = row['Name'],
                                father_name = row['FathersName'],
                                gender = row['Gender'],
                                contact = row['Contact'],
                                department = row['Department'])
    
    
    print(sp)

TypeError: Can't convert float to PhoneNumber.